<!DOCTYPE html>
<html>
<head>
  <title>Dr. Deal-a-Day</title>
</head>
<body>
  <p><a href="/auth/login">Log In</a> | <a href="/auth/logout">Log Out</a></p>
  <h1>Dr. Deal-a-Day</h1> 
  <%= yield %>
</body>
</html>